.form1-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.form1-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100%;
    margin: auto;
}

.form1-container input{
    width: 30%;
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button{
    flex-basis: 30%;
}

@media screen and (max-width: 850px){
     .form1-container{
        padding-top: 1rem;
        display:block;
        flex-direction: column;
        margin: 4rem 2rem;
     }
     .form1-container form{
        padding-top: 2rem;
        width: auto;
     }
     .btn-field button{
        display: inline;
    }
}
    